<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Listagem de Pedidos</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
</head>

<body>
    <header>
        <h1>Fast Food Delícia</h1>
        <nav>
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/produtos/listar}">Produtos</a></li>
                <li><a th:href="@{/pedidos}">Pedidos</a></li>
            </ul>
        </nav>
    </header>

    <section id="lista-pedidos">
        <h2>Listagem de Pedidos</h2>

        <div th:if="${mensagemSucesso}">
            <p th:text="${mensagemSucesso}" class="mensagem-sucesso"></p>
        </div>

        <a th:href="@{/pedidos/cadastro}" class="btn-primary">Criar Novo Pedido</a>

        <table>
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Status</th>
                    <th>Pedido</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pedido : ${pedidos}">
                    <td th:text="${pedido.cliente}">Nome do Cliente</td>
                    <td th:text="${pedido.status}">Status</td>
                    <td th:text="${pedido.id}"> Pedido</td>
                    <td>
                        <form th:action="@{'/pedidos/deletar/' + ${pedido.id}}" method="post" style="display:inline;">
                            <button type="submit" class="btn-danger"
                                onclick="return confirm('Deseja realmente apagar este pedido?');">Apagar</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>



        <div th:if="${#lists.isEmpty(pedidos)}" style="margin-top: 20px;">
            <p>Nenhum pedido cadastrado ainda.</p>
        </div>
    </section>

    <footer>
        <p>&copy; 2025 Fast Food Delícia - Todos os direitos reservados</p>
    </footer>

    <script th:src="@{/script.js}"></script>
</body>

</html>